
.box1, .box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    width: 400px; /* 设置BOX1和BOX2的宽度 */
  height: 300px; /* 设置BOX1和BOX2的高度 */
}
.boxcontainer {
  display: flex;
  flex-direction: row; /* 水平排列元素 */
  justify-content: center; /* 将按钮水平居中对齐 */
  align-items: center; /* 将按钮垂直居中对齐 */
  justify-content: space-around; /* 元素之间均匀分布 */
  margin-top: 20px; /* 添加上边的间距 */
  margin-bottom: 20px; /* 添加下边的间距 */

}


h2 {
color: #454545;

}
p,ul,li{
    color: #B5B5B5;
}

ul li {
    list-style-image: url('upload/20130930173146.gif');
}

.box1{
  flex: 1;
    position: relative;
   
    margin-left: 20px; /* 添加上边的间距 */
    }

  .box2{
  flex: 1;
    margin-right: 20px; /* 添加下边的间距 */
  }
 
.line {
  flex: 1;
  position: absolute; /* Absolute positioning to create the gray line */
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: gray;
  margin: 0 10px; /* Adjust the spacing from the right edge of .box1 */
}


.button{
  display: flex;
  justify-content: center; /* 将按钮水平居中对齐 */
  align-items: center; /* 将按钮垂直居中对齐 */
  color: black;
  border: 2px solid #6cc091;
  padding: 10px;
  width: 200px; /* 设置按钮的宽度 */
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin: 0 auto; /* 将按钮居中 */
  border-radius: 20px;
   border: 2px solid gray;


}
.box1 {
  margin-right: 20px;
}

.box2 {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .boxcontainer {
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
  }
 
  .box1, .box2 {
    margin: 10px;
  }
 
  .line {
    border-left: 1px solid gray;
    height: 100%;
    margin: 10px auto;
  }
}
