body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto;
    animation: moveBackground 30s linear infinite;
    background-repeat: no-repeat;
  }
  
  .background::before, .background::after {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .background::before {
    background-image: url('image/2.jpg'); /* 第一个图层的图片URL */
    animation: moveLayer1 30s linear infinite; /* 第一个图层的动画 */
  }
  
  .background::after {
    background-image: url('image/3.jpg'); /* 第二个图层的图片URL */
    animation: moveLayer2 30s linear infinite; /* 第二个图层的动画 */
  }
  
  @keyframes moveBackground {
    0%, 100% {
      background-position: left bottom;
    }
    50% {
      background-position: right top;
    }
  }
  
  @keyframes moveLayer1 {
    0%, 100% {
      background-position: right bottom;
    }
    50% {
      background-position: left top;
    }
  }
  
  @keyframes moveLayer2 {
    0%, 100% {
      background-position: left bottom;
    }
    50% {
      background-position: right top;
    }
  }
  